body {
  margin: 0;
  background-color: #000;
  color: #0f0;
}

.light-mode {
  background-color: #fff;
  color: #000;
}

input:focus {
  outline: none;
}

input {
  caret-color: transparent;
  position: relative;
}

input.blink::after {
  content: ''; 
  position: absolute;
  right: 2px;
  width: 8px;
  height: 1em;
  background: currentColor;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from, to { visibility: hidden; }
  50% { visibility: visible; }
}
